html {
  scroll-behavior: smooth;
}

main {
  background-color: black;
  min-height: 100vh;
}

#double-down-arrows {
  fill: white;
  opacity: 0;
  animation: fade-in 2s ease-out 20s, pulse 2s ease-in-out 22s infinite;
}

@keyframes fade-in {
  from {opacity: 0}
  to {opacity: 0.8}
}

@keyframes pulse {
  0% {opacity: 0.8}
  50% {opacity: 0.3}
  100% {opacity: 0.8}
}
